<?xml version="1.0" encoding="utf-8" ?>
<entityMapper>
	<class name="DeviceFaultRecord" table="DeviceFaultRecord">
		<property name="ID" column="ID" isPK="true" />
		<property name="DeviceFaultDate" column="DeviceFaultDate" />
		<property name="DeviceFaultContent" column="DeviceFaultContent" />
	</class>
	<class name="FuncLimit" table="FuncLimit">
		<property name="ID" column="ID" isPK="true" />
		<property name="UserRole" column="UserRole" />
		<property name="InterfaceLib" column="InterfaceLib" />
		<property name="CableLib" column="CableLib" />
		<property name="ConnectorLib" column="ConnectorLib" />
		<property name="SwitchWearLib" column="SwitchWearLib" />
		<property name="SwitchStandLib" column="SwitchStandLib" />
		<property name="SelfStudy" column="SelfStudy" />
		<property name="ConductTest" column="ConductTest" />
		<property name="ShortCircuitTest" column="ShortCircuitTest" />
		<property name="InsulateTest" column="InsulateTest" />
		<property name="PressureWithVoltageTest" column="PressureWithVoltageTest" />
		<property name="OneKeyTest" column="OneKeyTest" />
		<property name="ExcuteReport" column="ExcuteReport" />
		<property name="PrintReport" column="PrintReport" />
		<property name="SaveTestData" column="SaveTestData" />
		<property name="NewProject" column="NewProject" />
		<property name="ProjectManage" column="ProjectManage" />
		<property name="HistoryTestData" column="HistoryTestData" />
		<property name="OperatorRecord" column="OperatorRecord" />
		<property name="Probe" column="Probe" />
		<property name="StartResistanceCompensation" column="StartResistanceCompensation" />
		<property name="ResistanceCompensationManage" column="ResistanceCompensationManage" />
		<property name="ReportConfigPath" column="ReportConfigPath" />
		<property name="DeviceSelfCheck" column="DeviceSelfCheck" />
		<property name="DeviceCalibration" column="DeviceCalibration" />
		<property name="DeviceDebug" column="DeviceDebug" />
		<property name="DeviceFaultQuery" column="DeviceFaultQuery" />
		<property name="EnvironmentalParameters" column="EnvironmentalParameters" />
	</class>
	<class name="InterfaceInfoLibrary" table="InterfaceInfoLibrary">
		<property name="ID" column="ID" isPK="true" />
		<property name="InterfaceNo" column="InterfaceNo" />
		<property name="ContactPointName" column="ContactPointName" />
		<property name="SwitchStandStitchNo" column="SwitchStandStitchNo" />
		<property name="MeasureMethod" column="MeasureMethod" />
		<property name="ConnectorName" column="ConnectorName" />
		<property name="Operator" column="Operator" />
		<property name="Remark" column="Remark" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="OperatLimit" table="OperatLimit">
		<property name="ID" column="ID" isPK="true" />
		<property name="InterfaceLib_query" column="InterfaceLib_query" />
		<property name="InterfaceLib_add" column="InterfaceLib_add" />
		<property name="IneterfaceLib_del" column="IneterfaceLib_del" />
		<property name="InterfaceLib_export" column="InterfaceLib_export" />
		<property name="CableLib_query" column="CableLib_query" />
		<property name="CableLib_add" column="CableLib_add" />
		<property name="CableLib_edit" column="CableLib_edit" />
		<property name="CableLib_del" column="CableLib_del" />
		<property name="CableLib_export" column="CableLib_export" />
		<property name="ConnectorLib_query" column="ConnectorLib_query" />
		<property name="ConnectorLib_del" column="ConnectorLib_del" />
		<property name="ConnectorLib_export" column="ConnectorLib_export" />
		<property name="ConnectorLib_add" column="ConnectorLib_add" />
		<property name="SwitchWearLib_query" column="SwitchWearLib_query" />
		<property name="SwitchWearLib_add" column="SwitchWearLib_add" />
		<property name="SwitchWearLib_edit" column="SwitchWearLib_edit" />
		<property name="SwitchWearLib_export" column="SwitchWearLib_export" />
		<property name="SwitchStandLib_query" column="SwitchStandLib_query" />
		<property name="SwitchStandLib_add" column="SwitchStandLib_add" />
		<property name="SwitchStandLib_del" column="SwitchStandLib_del" />
		<property name="SwitchStandLib_export" column="SwitchStandLib_export" />
		<property name="Project_query" column="Project_query" />
		<property name="Project_add" column="Project_add" />
		<property name="Project_del" column="Project_del" />
		<property name="Project_export" column="Project_export" />
		<property name="HistoryTestData_query" column="HistoryTestData_query" />
		<property name="HistoryTestData_add" column="HistoryTestData_add" />
		<property name="HistoryTestData_edit" column="HistoryTestData_edit" />
		<property name="HistoryTestData_export" column="HistoryTestData_export" />
		<property name="OperatorRecord_query" column="OperatorRecord_query" />
		<property name="OperatorRecord_del" column="OperatorRecord_del" />
		<property name="OperatorRecord_export" column="OperatorRecord_export" />
	</class>
	<class name="TCableTestLibrary" table="TCableTestLibrary">
		<property name="ID" column="ID" isPK="true" />
		<property name="CableName" column="CableName" />
		<property name="StartInterface" column="StartInterface" />
		<property name="StartContactPoint" column="StartContactPoint" />
		<property name="EndInterface" column="EndInterface" />
		<property name="EndContactPoint" column="EndContactPoint" />
		<property name="MeasureMethod" column="MeasureMethod" />
		<property name="IsGroundTest" column="IsGroundTest" />
		<property name="IsInsulateTest" column="IsInsulateTest" />
		<property name="IsConductTest" column="IsConductTest" />
		<property name="IsVoltageWithStandardTest" column="IsVoltageWithStandardTest" />
		<property name="IsShortCircuitTest" column="IsShortCircuitTest" />
		<property name="Remark" column="Remark" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="TConnectorLibrary" table="TConnectorLibrary">
		<property name="ID" column="ID" isPK="true" />
		<property name="ConnectorName" column="ConnectorName" />
		<property name="ConverterType" column="ConverterType" />
		<property name="Remark" column="Remark" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="TConnectorLibraryDetail" table="TConnectorLibraryDetail">
		<property name="ConnectorName" column="ConnectorName" isPK="true" />
		<property name="InterfacePointName" column="InterfacePointName" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="THistoryDataBasic" table="THistoryDataBasic">
		<property name="ID" column="ID" isPK="true" />
		<property name="TestSerialNumber" column="TestSerialNumber" />
		<property name="ProjectName" column="ProjectName" />
		<property name="BatchNumber" column="BatchNumber" />
		<property name="TestCableName" column="TestCableName" />
		<property name="TestDate" column="TestDate" />
		<property name="TestOperator" column="TestOperator" />
		<property name="EnvironmentTemperature" column="EnvironmentTemperature" />
		<property name="EnvironmentAmbientHumidity" column="EnvironmentAmbientHumidity" />
		<property name="DeviceTypeNo" column="DeviceTypeNo" />
		<property name="DeviceMeasureNumber" column="DeviceMeasureNumber" />
		<property name="FinalTestResult" column="FinalTestResult" />
		<property name="ConductThreshold" column="ConductThreshold" />
		<property name="ConductVoltage" column="ConductVoltage" />
		<property name="ConductElect" column="ConductElect" />
		<property name="ShortCircuitThreshold" column="ShortCircuitThreshold" />
		<property name="InsulateHighOrLowElect" column="InsulateHighOrLowElect" />
		<property name="InsulateThreshold" column="InsulateThreshold" />
		<property name="InsulateHoldTime" column="InsulateHoldTime" />
		<property name="InsulateVoltage" column="InsulateVoltage" />
		<property name="InsulateRaiseTime" column="InsulateRaiseTime" />
		<property name="VoltageWithStandardThreshold" column="VoltageWithStandardThreshold" />
		<property name="VoltageWithStandardHoldTime" column="VoltageWithStandardHoldTime" />
		<property name="VoltageWithStandardVoltage" column="VoltageWithStandardVoltage" />
		<property name="IsConductTestComplete" column="IsConductTestComplete" />
		<property name="IsInsulateTestComplete" column="IsInsulateTestComplete" />
		<property name="IsInsulateByGroundTestComplete" column="IsInsulateByGroundTestComplete" />
		<property name="IsVoltageWithStandardTestComplete" column="IsVoltageWithStandardTestComplete" />
		<property name="IsShortCircuteTestComplete" column="IsShortCircuteTestComplete" />
		<property name="ConductTestExceptCount" column="ConductTestExceptCount" />
		<property name="ShortcircuitTestExceptCount" column="ShortcircuitTestExceptCount" />
		<property name="InsulateTestExceptCount" column="InsulateTestExceptCount" />
		<property name="VoltageWithStandardTestExceptCount" column="VoltageWithStandardTestExceptCount" />
	</class>
	<class name="THistoryDataDetail" table="THistoryDataDetail">
		<property name="ID" column="ID" isPK="true" />
		<property name="TestSerialNumber" column="TestSerialNumber" />
		<property name="ProjectName" column="ProjectName" />
		<property name="StartInterface" column="StartInterface" />
		<property name="StartContactPoint" column="StartContactPoint" />
		<property name="EndInterface" column="EndInterface" />
		<property name="EndContactPoint" column="EndContactPoint" />
		<property name="ConductValue" column="ConductValue" />
		<property name="ConductTestResult" column="ConductTestResult" />
		<property name="InsulateValue" column="InsulateValue" />
		<property name="InsulateTestResult" column="InsulateTestResult" />
		<property name="VoltageWithStandardValue" column="VoltageWithStandardValue" />
		<property name="VoltageWithStandardTestResult" column="VoltageWithStandardTestResult" />
		<property name="ShortCircuitValue" column="ShortCircuitValue" />
		<property name="ShortCircuitTestResult" column="ShortCircuitTestResult" />
	</class>
	<class name="TOperateRecord" table="TOperateRecord">
		<property name="ID" column="ID" isPK="true" />
		<property name="OperateUser" column="OperateUser" />
		<property name="OperateContent" column="OperateContent" />
		<property name="OperateDate" column="OperateDate" />
	</class>
	<class name="TProjectBasicInfo" table="TProjectBasicInfo">
		<property name="ID" column="ID" isPK="true" />
		<property name="ProjectName" column="ProjectName" />
		<property name="BatchNumber" column="BatchNumber" />
		<property name="IsCommonProject" column="IsCommonProject" />
		<property name="IsGroupTestProject" column="IsGroupTestProject" />
		<property name="TestCableName" column="TestCableName" />
		<property name="IsExistTestItem" column="IsExistTestItem" />
		<property name="IsExistConductTest" column="IsExistConductTest" />
		<property name="IsExistInsulateTest" column="IsExistInsulateTest" />
		<property name="IsExistShortCircuitTest" column="IsExistShortCircuitTest" />
		<property name="IsExistVoltageWithStandardTest" column="IsExistVoltageWithStandardTest" />
		<property name="ConductTestThreshold" column="ConductTestThreshold" />
		<property name="ConductTestVoltage" column="ConductTestVoltage" />
		<property name="ConductTestCurrentElect" column="ConductTestCurrentElect" />
		<property name="ShortCircuitTestThreshold" column="ShortCircuitTestThreshold" />
		<property name="InsulateHigthOrLowElect" column="InsulateHigthOrLowElect" />
		<property name="InsulateTestThreshold" column="InsulateTestThreshold" />
		<property name="InsulateTestHoldTime" column="InsulateTestHoldTime" />
		<property name="InsulateTestVoltage" column="InsulateTestVoltage" />
		<property name="InsulateTestRaiseTime" column="InsulateTestRaiseTime" />
		<property name="VoltageWithStandardThreshold" column="VoltageWithStandardThreshold" />
		<property name="VoltageWithStandardHoldTime" column="VoltageWithStandardHoldTime" />
		<property name="VoltageWithStandardVoltage" column="VoltageWithStandardVoltage" />
		<property name="IsUseSelfDefineParams" column="IsUseSelfDefineParams" />
		<property name="Remark" column="Remark" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="TRole" table="TRole">
		<property name="ID" column="ID" isPK="true" />
		<property name="UserRole" column="UserRole" />
		<property name="Remark" column="Remark" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="TSwitchWorkWearLibrary" table="TSwitchWorkWearLibrary">
		<property name="ID" column="ID" isPK="true" />
		<property name="SwitchWorkWearCode" column="SwitchWorkWearCode" />
		<property name="SwitchrType" column="SwitchrType" />
		<property name="Remark" column="Remark" />
	</class>
	<class name="TUser" table="TUser">
		<property name="UserID" column="UserID" isPK="true" />
		<property name="UserName" column="UserName" />
		<property name="UserPassword" column="UserPassword" />
		<property name="UserRole" column="UserRole" />
		<property name="Remark" column="Remark" />
		<property name="Status" column="Status" />
		<property name="UpdateDate" column="UpdateDate" />
	</class>
	<class name="TesterAndSwitchStandMapRelation" table="TesterAndSwitchStandMapRelation">
		<property name="ID" column="ID" isPK="true" />
		<property name="TesterStitchNo" column="TesterStitchNo" />
		<property name="SwitchStandStitchNo" column="SwitchStandStitchNo" />
	</class>
	<class name="_FuncLimit_old_20200522" table="_FuncLimit_old_20200522">
		<property name="ID" column="ID" isPK="true" />
		<property name="UserRole" column="UserRole" />
		<property name="InterfaceLib" column="InterfaceLib" />
		<property name="CableLib" column="CableLib" />
		<property name="ConnectorLib" column="ConnectorLib" />
		<property name="SwitchWearLib" column="SwitchWearLib" />
		<property name="SelfStudy" column="SelfStudy" />
		<property name="ConductTest" column="ConductTest" />
		<property name="ShortCircuitTest" column="ShortCircuitTest" />
		<property name="InsulateTest" column="InsulateTest" />
		<property name="PressureWithVoltageTest" column="PressureWithVoltageTest" />
		<property name="OneKeyTest" column="OneKeyTest" />
		<property name="ExcuteReport" column="ExcuteReport" />
		<property name="PrintReport" column="PrintReport" />
		<property name="SaveTestData" column="SaveTestData" />
		<property name="NewProject" column="NewProject" />
		<property name="ProjectManage" column="ProjectManage" />
		<property name="HistoryTestData" column="HistoryTestData" />
		<property name="OperatorRecord" column="OperatorRecord" />
		<property name="Probe" column="Probe" />
		<property name="StartResistanceCompensation" column="StartResistanceCompensation" />
		<property name="ResistanceCompensationManage" column="ResistanceCompensationManage" />
		<property name="ReportConfigPath" column="ReportConfigPath" />
		<property name="DeviceSelfCheck" column="DeviceSelfCheck" />
		<property name="DeviceCalibration" column="DeviceCalibration" />
		<property name="DeviceDebug" column="DeviceDebug" />
		<property name="DeviceFaultQuery" column="DeviceFaultQuery" />
		<property name="EnvironmentalParameters" column="EnvironmentalParameters" />
	</class>
	<class name="_THistoryDataBasic_old_20200318" table="_THistoryDataBasic_old_20200318">
		<property name="TestSerialNumber" column="TestSerialNumber" isPK="true" />
		<property name="ProjectName" column="ProjectName" />
		<property name="BatchNumber" column="BatchNumber" />
		<property name="TestCableName" column="TestCableName" />
		<property name="TestDate" column="TestDate" />
		<property name="TestOperator" column="TestOperator" />
		<property name="EnvironmentTemperature" column="EnvironmentTemperature" />
		<property name="EnvironmentAmbientHumidity" column="EnvironmentAmbientHumidity" />
		<property name="DeviceTypeNo" column="DeviceTypeNo" />
		<property name="DeviceMeasureNumber" column="DeviceMeasureNumber" />
		<property name="FinalTestResult" column="FinalTestResult" />
		<property name="ConductThreshold" column="ConductThreshold" />
		<property name="ConductVoltage" column="ConductVoltage" />
		<property name="ConductElect" column="ConductElect" />
		<property name="ShortCircuitThreshold" column="ShortCircuitThreshold" />
		<property name="InsulateHighOrLowElect" column="InsulateHighOrLowElect" />
		<property name="InsulateThreshold" column="InsulateThreshold" />
		<property name="InsulateHoldTime" column="InsulateHoldTime" />
		<property name="InsulateVoltage" column="InsulateVoltage" />
		<property name="InsulateRaiseTime" column="InsulateRaiseTime" />
		<property name="VoltageWithStandardThreshold" column="VoltageWithStandardThreshold" />
		<property name="VoltageWithStandardHoldTime" column="VoltageWithStandardHoldTime" />
		<property name="VoltageWithStandardVoltage" column="VoltageWithStandardVoltage" />
		<property name="IsConductTestComplete" column="IsConductTestComplete" />
		<property name="IsInsulateTestComplete" column="IsInsulateTestComplete" />
		<property name="IsInsulateByGroundTestComplete" column="IsInsulateByGroundTestComplete" />
		<property name="IsVoltageWithStandardTestComplete" column="IsVoltageWithStandardTestComplete" />
		<property name="IsShortCircuteTestComplete" column="IsShortCircuteTestComplete" />
		<property name="ConductTestExceptCount" column="ConductTestExceptCount" />
		<property name="ShortcircuitTestExceptCount" column="ShortcircuitTestExceptCount" />
		<property name="InsulateTestExceptCount" column="InsulateTestExceptCount" />
		<property name="VoltageWithStandardTestExceptCount" column="VoltageWithStandardTestExceptCount" />
	</class>
	<class name="_THistoryDataBasic_old_20200318_1" table="_THistoryDataBasic_old_20200318_1">
		<property name="TestSerialNumber" column="TestSerialNumber" />
		<property name="ProjectName" column="ProjectName" />
		<property name="BatchNumber" column="BatchNumber" />
		<property name="TestCableName" column="TestCableName" />
		<property name="TestDate" column="TestDate" />
		<property name="TestOperator" column="TestOperator" />
		<property name="EnvironmentTemperature" column="EnvironmentTemperature" />
		<property name="EnvironmentAmbientHumidity" column="EnvironmentAmbientHumidity" />
		<property name="DeviceTypeNo" column="DeviceTypeNo" />
		<property name="DeviceMeasureNumber" column="DeviceMeasureNumber" />
		<property name="FinalTestResult" column="FinalTestResult" />
		<property name="ConductThreshold" column="ConductThreshold" />
		<property name="ConductVoltage" column="ConductVoltage" />
		<property name="ConductElect" column="ConductElect" />
		<property name="ShortCircuitThreshold" column="ShortCircuitThreshold" />
		<property name="InsulateHighOrLowElect" column="InsulateHighOrLowElect" />
		<property name="InsulateThreshold" column="InsulateThreshold" />
		<property name="InsulateHoldTime" column="InsulateHoldTime" />
		<property name="InsulateVoltage" column="InsulateVoltage" />
		<property name="InsulateRaiseTime" column="InsulateRaiseTime" />
		<property name="VoltageWithStandardThreshold" column="VoltageWithStandardThreshold" />
		<property name="VoltageWithStandardHoldTime" column="VoltageWithStandardHoldTime" />
		<property name="VoltageWithStandardVoltage" column="VoltageWithStandardVoltage" />
		<property name="IsConductTestComplete" column="IsConductTestComplete" />
		<property name="IsInsulateTestComplete" column="IsInsulateTestComplete" />
		<property name="IsInsulateByGroundTestComplete" column="IsInsulateByGroundTestComplete" />
		<property name="IsVoltageWithStandardTestComplete" column="IsVoltageWithStandardTestComplete" />
		<property name="IsShortCircuteTestComplete" column="IsShortCircuteTestComplete" />
		<property name="ConductTestExceptCount" column="ConductTestExceptCount" />
		<property name="ShortcircuitTestExceptCount" column="ShortcircuitTestExceptCount" />
		<property name="InsulateTestExceptCount" column="InsulateTestExceptCount" />
		<property name="VoltageWithStandardTestExceptCount" column="VoltageWithStandardTestExceptCount" />
	</class>
	<class name="Sqlite_sequence" table="sqlite_sequence">
		<property name="Name" column="name" />
		<property name="Seq" column="seq" />
	</class>
</entityMapper>
